.info-section {
  min-height: 100vh;
  height: auto;
  @include flexAlignCenter;

  .image--desktop {
    display: none;
  }
  img {
    width: 100%;
  }

  @media screen and (min-width: 769px) {
    > div {
      position: relative;
      @include flex(row, flex-start, stretch);

      .image--mobile {
        display: none;
      }

      .image--desktop {
        display: block;
        width: 50vw;
      }

      article {
        position: absolute;
        @include flex(column, center, stretch);
        left: 45%;
        top: 35%;
        width: 40vw;
        height: 30vw;
        padding: 3rem;
        padding-left: 4rem;
        background: $white;

        h2 {
          width: 60%;
          text-align: left;
        }
        p {
          text-align: left;
        }
      }
    }
  }
}
