.mobileMenu {
  display: block;
  background: $black;
  position: absolute;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  transition: all 250ms ease-in-out;

  > div {
    @include flex(column, center, stretch);
    height: 100%;
  }

  &__header {
    padding-top: 1rem;
    flex: 0.1;
    width: 100%;
    @include flex(row, space-between, center);

    > * {
      display: flex;
      align-items: center;
      height: fit-content;
    }
  }

  &__nav {
    flex: 0.9;
    width: 100%;
    @include flexAlignCenter;

    ul li {
      margin-bottom: 6vh;
    }

    ul > *:last-child {
      margin-bottom: 0;
    }
  }

  &--active {
    right: 0;
    visibility: visible;
  }

  @media screen and (min-width: 769px) {
    display: none;
  }
}
