/*      COLORS      */
/*      FONTS       */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  font-family: "Alata", sans-serif;
  color: white;
  background: white;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  font-size: 5vh;
}

h2 {
  font-size: 4.5vh;
  color: black;
  text-align: center;
}

h3 {
  font-size: 3.8vh;
}

h4 {
  color: white;
  font-size: 2.2em;
}

@media screen and (min-width: 769px) {
  h4 {
    font-size: calc(3.5vw - 10px);
  }
}

p {
  color: #8c8c8c;
  font-size: 2.5vh;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
  font-size: 2.8vh;
}

/*      MIXINS      */
/*      UTILITIES       */
.container {
  width: 90%;
  margin: 0 auto;
}

.border, .border-children > * {
  border: 1px solid #fafafa;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.button {
  border: 2px solid black;
  color: black;
  padding: 1.5vh 8vh;
  font-size: 3vh;
  letter-spacing: 4px;
}

.logo {
  width: 22vh;
}

.logo img {
  max-width: 100%;
  width: 100%;
}

.hamburgerMenuIcon {
  width: 4vh;
}

.hamburgerMenuIcon img {
  max-width: 100%;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .hamburgerMenuIcon {
    display: none;
  }
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ul li {
  margin-bottom: 1rem;
  cursor: pointer;
}

.nav ul li:last-child {
  margin-bottom: 0;
}

.hero-section {
  background-image: url("../images/mobile/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.5rem;
}

.header .nav {
  display: none;
}

@media screen and (min-width: 769px) {
  .header .logo {
    -webkit-box-flex: 0.1;
        -ms-flex: 0.1;
            flex: 0.1;
  }
  .header .nav {
    -webkit-box-flex: 0.6;
        -ms-flex: 0.6;
            flex: 0.6;
    display: block;
    margin-bottom: 0;
  }
  .header .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .nav ul li {
    margin-bottom: 0;
  }
}

main {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div {
  width: 100%;
  border: 3px solid white;
}

main div h1 {
  margin: 2vh;
  width: 200px;
}

.mobileMenu {
  display: block;
  background: black;
  position: absolute;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.mobileMenu > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}

.mobileMenu__header {
  padding-top: 1rem;
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobileMenu__header > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.mobileMenu__nav {
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobileMenu__nav ul li {
  margin-bottom: 6vh;
}

.mobileMenu__nav ul > *:last-child {
  margin-bottom: 0;
}

.mobileMenu--active {
  right: 0;
  visibility: visible;
}

@media screen and (min-width: 769px) {
  .mobileMenu {
    display: none;
  }
}

.info-section {
  border: 5px solid lightcoral;
  min-height: 100vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-section .image--desktop {
  display: none;
}

.info-section img {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .info-section > div {
    border: 1px solid lightcoral;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .info-section > div > * {
    border: 1px solid black;
  }
  .info-section > div .image--mobile {
    display: none;
  }
  .info-section > div .image--desktop {
    display: block;
  }
  .info-section > div img {
    height: 100%;
  }
}

.projects-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.projects-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-section div .cards-wrapper {
  padding: 8vh 0;
  padding-bottom: 0;
}

.projects-section .card {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 2rem;
}

.projects-section .card .card__image--desktop {
  display: none;
}

.projects-section .card img {
  width: 100%;
  height: 20vh;
}

.projects-section .card h4 {
  position: absolute;
  bottom: 1vw;
  left: 1vw;
  width: 70%;
}

@media screen and (min-width: 769px) {
  .projects-section {
    padding-top: 3rem;
  }
  .projects-section h2 {
    margin-left: 2.5rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .projects-section > div .button {
    display: none;
  }
  .projects-section > div .cards-wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    padding-bottom: 8vh;
    -ms-grid-columns: (20vw)[4];
        grid-template-columns: repeat(4, 20vw);
    -ms-grid-rows: (30vw)[2];
        grid-template-rows: repeat(2, 30vw);
    gap: 2vh;
  }
  .projects-section > div .cards-wrapper .card {
    height: 100%;
    margin-bottom: 0;
  }
  .projects-section > div .cards-wrapper .card .card__image--desktop {
    display: block;
    width: 100%;
  }
  .projects-section > div .cards-wrapper .card .card__image--mobile {
    display: none;
  }
  .projects-section > div .cards-wrapper .card img {
    height: 100%;
    -o-object-fit: center;
       object-fit: center;
  }
}

.footer {
  height: 100vh;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.footer__socialMedia a {
  margin-right: 1rem;
}

.footer__socialMedia a img {
  width: 3.5vh;
}

.footer__socialMedia > a:last-child {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .footer {
    height: 50vh;
  }
  .footer > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 2vh;
  }
  .footer > div .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
  }
  .footer > div .nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 0;
  }
  .footer > div .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer > div .nav ul li {
    margin-bottom: 0;
    margin-right: 5vh;
  }
  .footer > div .footer__socialMedia {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer > div p {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    text-align: right;
  }
}
/*# sourceMappingURL=main.css.map */